/* ******************INDSTILLINGER For opgave 1-20*************** */
/* ***************Det er herunder du skal rette:***************** */

/*-------------------------------boks 1--------------------------------*/

.box1 .content {
  /*Her styles teksten*/
  color: white;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: magenta 5px 4px 10px;
}

/*-------------------------------boks 2--------------------------------*/

.box2 .content {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: thin (100);
}

/*-------------------------------boks 3--------------------------------*/

.box3 .content {
  color: rgb(14, 104, 6);
  font-size: 23px;
  text-shadow: 2px 2px 2px rgb(101, 225, 12);
  text-indent: 15px;
}
.box3 .content p::first-letter {
  font-size: 55px;
  font-weight: semi-bold;
  color: rgb(30, 75, 225);
}

/*-------------------------------boks 4--------------------------------*/

.box4 .content {
  color: red;
  font-size: 21px;
  text-transform: uppercase;
}

/*-------------------------------boks 5--------------------------------*/

@font-face {
  /*Her har jeg skrevet @font-face koden for dig - i den næste opgave skal du selv skrive den*/
  font-family: minFont;
  src: url("elriolobo/elriott2-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.box5 .content {
  /*Her skriver du koden og bruger fonten (minFont)*/
  font-family: minFont;
  font-size: 63px;
  font-weight: normal;
  color: orange;
}

/*-------------------------------boks 6--------------------------------*/

@font-face {
  /*Minder om forrige eksempel - husk at bruge et andet navn*/
  font-family: minAndenFont;
  src: url("russiano/russiano-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.box6 .content {
  /*Her skriver du koden og bruger fonten (minAndenFont)*/
  font-family: minAndenfont;
  font-size: 48px;
  color: rgb(192, 23, 23);
  font-weight: normal;
}

/*-------------------------------boks 7--------------------------------*/

.box7 .content {
  /*Her bruger du fonten (husk at linke til google-fonten i head i din html)*/
  font-family: krona one, sans-serif;
  font-size: 42px;
  color: rgb(79, 141, 234);
  font-weight: normal;
}

/*-------------------------------boks 8--------------------------------*/

.box8 .content {
  /*Her bruger du google-fonten (som du linker til i din html)*/

  font-family: pacifico, cursive;
  font-size: 58px;
  color: rgb(197, 12, 200);
  font-weight: normal;
}

/*-------------------------------boks 9--------------------------------*/

.box9 .content {
  /*Her styles teksten*/
  background-color: rgb(207, 225, 157);
  font-size: 18px;
  line-height: 1.3;
}

/*-------------------------------boks 10--------------------------------*/

.box10 .content {
  /*Her styles teksten*/
  font-size: 18px;
  background-color: rgb(198, 224, 233);
  letter-spacing: 0rem;
}

/*-------------------------------boks 11--------------------------------*/

.box11 .content a {
  /*Her styles dit link*/
  color: rgb(237, 96, 30);
  text-decoration: none;
  font-weight: bold;
}

/*-------------------------------boks 12--------------------------------*/

.box12 .content {
  /*Her indsættes baggrundsbillede vha. background-image og background-size */
  background-image: url(images/image12.png);
  background-size: cover;
  font-size: large;
  font-weight: 100;
  color: rgba(223, 84, 193, 0);
  /*Her styles teksten*/
}

/*-------------------------------boks 13--------------------------------*/

.box13 .content {
  /*Her styles teksten (størrelse og "weight")*/
  background-image: url(images/image13.png);
  background-size: cover;
  font-size: large;
  font-weight: 100;

  /*Her indsættes baggrundsbillede vha. background-image og background-size */

  /*Her indsættes baggrundsbilledet som fyld i teksten og teksten gøres transparent*/
  color: rgba(255, 255, 255, 0);
}

/*-------------------------------boks 14--------------------------------*/

.box14 .content {
  /*Her indsættes gradient vha. background-image*/
  background-image: url(images/image14.png),
    linear-gradient(to right, rgba(255, 0, 150, 0.8), rgba(0, 204, 255, 0.8));
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  font-size: large;
  font-weight: 100;
  color: rgba(223, 84, 193, 0);

  /*Her styles teksten*/
}

/*-------------------------------boks 15--------------------------------*/

.box15 .content {
  /*Her indsættes de to baggrunde vha. background separeret af komma - husk at den der skal ligge øverst skal stå først*/

  /* størrelse på de to baggrunde separeret af komma */

  /* skal baggrundsbilledet gentages? */

  /* Hvor skal baggrundsbilledet placeres? */

  /*Her styles teksten*/
}

/*-------------------------------boks 16--------------------------------*/

.box16 .content {
  /*Her indsættes gradient vha. background-image*/
}

/*-------------------------------boks 17--------------------------------*/

.box17 .content {
  /*Kode som flexer indholdet*/
  display: flex;
  justify-content: space-around;
  /*Kode som sætter baggrundsbillede (himmel.jpg ind)    */
}

/*Kunne gøres smartere, men så blev det lidt for besværligt for de studerende:*/

.box17 .content .kvadrat1 {
  /*Styling af de to bokse: width, height og border*/
  width: 100px;
  height: 100px;
  border: 1px dashed magenta;

  /*Indsæt selv blomsten med background-image og background-size*/

  /*Baggrundsfarve*/
}

.box17 .content .kvadrat2 {
  /*Styling af de to bokse: width, height og border*/
  width: 100px;
  height: 100px;
  border: 1px dashed magenta;

  /*Indsæt blomsten med background-image og background-size*/

  /*Baggrundsfarve*/
}

/*-------------------------------boks 18--------------------------------*/

.box18 .content {
  /*Kode som flexer indholdet*/
  display: flex;
  justify-content: center;
  /*Indsæt blåt baggrundsbillede*/
}

.box18 .content .kvadrat {
  /*Styling af boksen: width & height*/

  /*Indsæt blomsten med background-image og background-size*/

  /*Brug filter så blomsten får en sepia toning*/
}

/*-------------------------------boks 19--------------------------------*/

/*Her kan du lave din egen styling*/

/*-------------------------------boks 20--------------------------------*/

/*Her kan du lave din egen gradient*/
